<h2>Lista de Ventas</h2>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    <input type="text" class="form-control" aria-describedby="basic-addon1" name="flt" id="flt" [(ngModel)]="flt">
</div>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Orden</th>
      <th>Fecha</th>
      <th>Total</th>
      <th>Cliente</th>
      <th>Direccion</th>
      <th>productos</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sale of sales | filter:flt; let indx = index " >
      <td>{{indx +1}}</td>
      <td>{{sale.order}}</td>
      <td>{{sale.date | date}}</td>
      <td>{{sale.total}}</td>
      <td>{{sale.client.name}}
          {{sale.client.lastName}}
          {{sale.client.email}}</td>
      <td>{{sale.address.street}}
          {{sale.address.city}}
          {{sale.address.zip}}</td>
      <td> <span *ngFor= "let item of sales.items | filter:flt; let indx = index" >{{item.name}},</span></td>
      <td><button type="button" class="btn btn-sm btn-primary" (click)="onEdit(sale)" data-toggle="modal" data-target="#salesModal">Editar </button></td>
      <td><button type="button" class="btn btn-sm btn-danger"  (click)="onDelete(sale._id)">Eliminar </button></td>
    </tr>
  </tbody>
</table>
