<body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="user" class="sr-only">Email address</label>
        <input [(ngModel)]='user' type="email" id="user" name="user" class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input [(ngModel)]='password' type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" (click)="onLogin()">Sign in</button>
      </form>

    </div> <!-- /container -->
  </body>
